#container {
    list-style: none;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #container p {
    color: white;
    margin: 5px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #0000ff 0%, #0000b3 10%, #00006e 35%, #00003a 70%, #ffffff 100%);
  }
  
  h1 {
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
  }
  body {
    margin: 0; 
    background-color: black; 
  }
    
